<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" 
    integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Modulo detector</title>
    <style type="text/css">
        .navbar-brand
        {
            
            font-size: xx-large;
        }
    </style>
</head>
<body>
    <nav class="navbar-expand-lg navbar-dark bg-dark " style="background-color: #000000">
        
        <div class="container-fluid container-md">
            <a class="navbar-brand" href="{% url 'home' %}">Deteccion y creacion de codigo de barras y QR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    
                    <a class="nav-link active" aria-current="page" href="{% url 'generarQr' %}">Generar codigo </a>
                    <a class="nav-link active" aria-current="page" href="{% url 'detectarQr' %}">Detectar codigo </a>
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Salir</a>
                </div>
            </div>
        </div>
    </nav>


</body>
</html>