<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" 
    integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <title>Modulo detector</title>
    <style type="text/css">
    
    </style>
</head>

<body>
    <nav class="navbar-expand-lg navbar-dark bg-dark " style="background-color: #000000" >
        
        <div class="container-fluid container-md">
            <a class="navbar-brand" href="{% url 'home' %}">Deteccion y creacion de codigo de Qr y de barras</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    
                    <a class="nav-link active" aria-current="page" href="{% url 'generarQr' %}">Generar codigo </a>
                    <a class="nav-link active" aria-current="page" href="{% url 'detectarQr' %}">Detectar codigo </a>
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Salir</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.esm.min.js" integrity="sha512-Oz1b6eJ3gVXzBtTRr9ljoZJ6TlU3vmvrqRyJs5xsZkbEy7CQJ/3KL5L1tXOXmiJT0E9WRZSNvvDHfeDkkqL7ug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </div>
    <div class="row">
        <center>
        <blockquote>
            <h2 >Detector de códigos QR y de barras.</h2>
         <p>
                Para detectar codigos QR y codigos de barra siga las siguientes indicaciones:<br />
               1. Muestre el codigo QR o codigo de barras frente a la camara.<br />
                2. Mantener de manera firme, dependiendo del hardware de la camara de podra detectar.<br />
                3. La deteccion se mostrara encima del codigo QR detectado.<br />
         </p>
         <hr />
        </blockquote> 
        </center>
        <div class="box2">
            {% if cam_status %}
            <h3>Estado de la transmisión de la camara: conectado</h3>
            <img src="{% url 'camera_feed' %}" style="width: 450px; height: 350p" />
            {% else %}
            <h3>Estado de la transmisión de la camara: Sin acceso</h3>
            <h5>Puedes chequear estos tips:</h5>
            <ul class="text-right list-inline">
                <li>La conexión USB?</li>
                <li>¿El número de cámara en su archivo .env normalmente suele ser 0 - 1? </li>
                <li>Verifique si esta usando otro programa la camara.</li>
            </ul>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="alert alert-warning" role="alert">
                Nota: Si no ocurre nada verifique la camara funciona correctamente, se notificara 
                que no se ha podido validar la deteccion.
            </div>
            <form>
              <div class="form-group">
                <label id="lbl_BarcodeData" for="txt_BarcodeData">Datos de código de barras:</label>
                <textarea class="form-control" id="txt_BarcodeData" rows="3"></textarea>
                <label id="lbl_LastModified">Última modificación en:</label>
              </div>
            </form>
            <br />
            <a id="btn_ReadQRCode" class="btn btn-primary" href="#">Leer codigo QR</a>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script>
        $("#btn_ReadQRCode").on("click", function (e) {
            console.log("Ajax request triggered.");
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'camera_feed' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    dataType: "json",
                },
                success: function (data) {
                    if (data.barcode_data !== null && data.barcode_data !== '') {
                        console.log(data);
                        $("#txt_BarcodeData").html(data.barcode_data);
                        $("#lbl_LastModified").html(
                            "Last modified at: " + data.file_saved_at
                        );
                    } else {
                        console.log(data);
                        $("#txt_BarcodeData").html("");
                        $("#lbl_LastModified").html("<h3><em>No se ha encontrado datos. Escane el código de barras de nuevo.</em></h3>");
                    }
                },
                error: function () {
                    console.log(error);
                }
            });
        });
    </script>
    